.left {
    float: left;
}

.glyphicon {
    font-size: 16px !important;
}

.clear {
    clear: both;
}

.userRow {
    margin: 5px 5px 5px 5px;
    background-color: #afafa2;
}

.container-login {
    width: 225px !important;
}

form {
    padding-left: 25px;
}

.brand {
    margin-left: 0px !important;
    font-size: 14px !important;
}

body {
    background-color: #eee !important;
}

label {
    width: 200px;
    text-align: right;
}

input {
    width: 400px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #fafafa;
}

textarea {
    width: 400px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #fafafa;
}

select {
    width: 400px;
    padding-left: 10px;
    border-radius: 6px;
    height: 25px;
    background-color: #fafafa;
}

div .form-row {
    margin: 5px 0;
    min-height: 40px;
}

div .control {
    width: 50%;
    margin: 0 auto;
}

input:read-only {
    background-color: #f0f0f0;
}

select:disabled {
    background-color: #f0f0f0;
}

#course-tree {
    background-color: #5bc0de;
    border: none !important;
}

#course-tree span {
    color: #fff;
}

#menu {
    background-color: #337ab7;
}

#menu a:hover {
    background-color: #d9534f;
}

#course-tree a:hover {
    background-color: #d9534f;
}

#menu span {
    color: #fff;
}

.col-sm-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#course-tree .dropdown-menu span.glyphicon {
    color: #000;
}

