.left {
    float: left;
}

.clear {
    clear: both;
}

.userRow {
    margin: 5px 5px 5px 5px;
    background-color: #afafa2;
}

.container-login {
    width: 225px !important;
}

form {
    padding-left: 25px;
}

.brand {
    margin-left: 0px !important;
    font-size: 14px !important;
}

body {
    background-color: #eee !important;
}